<div ng-show="home.isView('itemDetails')">
  <a href ng-click="home.setView('list')">View List</a>

  <div class="jumbotron content">
    <form role="form" name="addItemForm" ng-submit="home.addItem(item, <%= current_user.id %>)" novalidate>
      <div class="form-group">
        <label for="title">Short Description <span class="required">*</span></label>
        <input ng-model="item.title" type="text" class="form-control" id="title" placeholder="Enter description of item" required="required">
      </div>
      <div class="form-group">
        <label for="description">Long Description</label>
        <textarea ng-model="item.description" class="form-control" id="description" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="link">Optional URL</label>
        <input ng-model="item.link" type="url" class="form-control" id="link" placeholder="Enter link to item">
      </div>
      <div class="form-group">
        <label for="importance">Importance <span class="required">*</span></label>
        <select ng-model="item.importance" class="form-control" required="required">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
          <span id="helpBlock" class="help-block">
            Prioritize which items are most important to you by ranking them from 1 (least important) to 5 (most important).
          </span>
      </div>
      <button type="submit" class="btn btn-primary">Add</button>
    </form>
  </div>

</div>