<div class='col-sm-3'>
  <ul class="nav nav-pills nav-stacked">
    <li ng-repeat="user in otherList.users">
      <a href ng-click="otherList.viewList(user)">{{user.first_name}} {{user.last_name}}</a>
    </li>
  </ul>

  <!--<select class="form-control visible-sm visible-xs"-->
          <!--ng-options="name as user.first_name for user in otherList.users"-->
          <!--ng-change="otherList.nameSelected(user)"-->
          <!--ng-model="selectedUser">-->
    <!--<option ng-repeat="user in otherList.users">-->
      <!--{{user.first_name}} {{user.last_name}}-->
    <!--</option>-->
  <!--</select>-->
</div>