<div class='col-sm-9'>

  <span>Key:</span>
  <span class="text-success"><i class="glyphicon glyphicon-ok"></i> Available</span>
  <span class="text-warning"><i class="glyphicon glyphicon-exclamation-sign"></i> Pending</span>
  <span class="text-danger"><i class="glyphicon glyphicon-remove"></i> Not Available</span>

  <div class="jumbotron content">
    <wish-list ng-init="current_user_id = <%= current_user.id %>" ng-hide="list.length === 0"></wish-list>
    <h2 ng-show="list.length === 0" class="empty-list">
      There is nothing in<br>
      {{currentUser.first_name}} {{currentUser.last_name}}'s list
    </h2>
  </div>

</div>