<div ng-show="home.isView('list')">
  <h1>My Wish List</h1>
  <button class="btn btn-primary" data-toggle="modal" data-target="#details">
    <i class="glyphicon glyphicon-plus-sign"></i> Add Item to List
  </button>

  <div class="jumbotron content" ng-hide="list.length === 0">
    <div ng-repeat="item in list">

      <section class="item panel panel-default">
        <div class="panel-heading title">{{item.title}}</div>

        <div class="panel-body">
          <div class="created-at">Created on {{item.created_at | date:"MM/dd/yyyy 'at' h:mma"}}</div>
          <div class="importance">
              <span ng-repeat="i in [1, 2, 3, 4, 5]">
                <i ng-show="item.importance >= i" class="glyphicon glyphicon-star"></i>
                <i ng-show="item.importance < i" class="glyphicon glyphicon-star-empty"></i>
              </span>
          </div>
          <div class="description">{{item.description}}</div>

          <div ng-show="item.link">
            <h4>Related Link</h4>
            <a href="{{item.link}}" target="_blank">{{item.link}}</a>
          </div>

          <button class="btn btn-danger" ng-click="deleteItem(item.id)"><i class="glyphicon glyphicon-trash"></i> Remove
          </button>
          <div style="clear: both"></div>
        </div>
      </section>

    </div>
  </div>

  <div class="empty-list jumbotron" ng-show="list.length === 0">
    <h1>Your list is empty</h1>
  </div>

  <button class="btn btn-primary" data-toggle="modal" data-target="#details">
    <i class="glyphicon glyphicon-plus-sign"></i> Add Item to List
  </button>
</div>