<div ng-controller="OtherListController as otherList" ng-init="otherList.loadUsers(<%= current_user.id %>)"> 
  <h1 class="noPrint">Other Lists</h1>
  <%= render 'listOfOthers' %>
  <%= render 'othersList' %>
</div>