<div ng-controller="PurchasesController as ctrl" ng-init="ctrl.loadPurchases(<%= current_user.id %>)">
  <h1>Purchases</h1>

  <div class="jumbotron content">
    <wish-list ng-hide="list.length === 0"></wish-list>
    <h2 class="empty-list" ng-show="list.length === 0">You have not made any purchases</h2>
  </div>
</div>