<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body style="background-color: #ecd4ac;">

<div style="background-color: #fcf5e8; margin: 50px auto; max-width: 900px; padding: 30px; border-radius: 10px; color: #778650; font-size: 20px;">

  <strong><h1 style="color: #b94a48;">Season's Greeting!</h1></strong>
  
  <p>
  <%= @user.first_name %>, It's that time of the year again and it's time to start getting ready for the holidays. 
  With Thanksgiving just around the corner, it will soon be time for Christmas. We want to make sure
  we beat all the crowds and don't get caught up in last minute shopping, so let's start preparing early!
  </p>

  <% if @items.size > 0 %>
  <p>
    These are the things that were remaining on your list from last year. Maybe you can start with these?
    <br>

    <ul>
      <% @items.each do |item| %>
        <li><%= item.title %></li>
      <% end %>
    </ul>    
  </p>
  <% end %>

  <p>
  Please start putting together your wish lists now so that we can know what to get you. We want you to try to
  <strong><u>finish your list by</u> <span style="color: #b94a48; font-size: 24px;">November 20, 2015</span></strong>. We will be using the same application I created last year. If you don't remember your login credentials, don't worry, you can get an email sent to you to reset your password.
  </p>

  <center>
  <button style="padding: 10px; border-radius: 5px; margin: 10px auto; color: white; background-color: #9b3833; border-color: #792b28; font-size: 30px; font-weight: bold;">
    <a href="https://family-christmas-app.herokuapp.com" style="text-decoration: none; color: white;">
      Get started here!
    </a>
  </button>
  </center>

  <p>If you have any questions, let me know.</p>


  <p>Happy Shopping!</p>

  <br>

  
  <strong>Jessica B. Kazembe</strong>

</div>

</body>
