.item {
  border-radius: 10px;
  font-size: 16px;

  &.unavailable {
    text-decoration: line-through;
//    background: repeating-linear-gradient(
//                    45deg,
//                    red,
//                    red 10px,
//                    darkred 10px,
//                    darkred 20px
//    );
  }

  .panel-heading {
    &.title {
      font-weight: bold;
      font-variant: small-caps;
      font-size: 20px;

      .status {
        float: right;

        .glyphicon-remove {
          color: red;
        }
      }
    }
  }

  .panel-body {
    .created-at {
      font-style: italic;
      font-size: 12px;
      margin-bottom: 10px;
    }

    .importance {

    }

    .description {

    }

    h4 {
      font-size: 16px;
      float: left;
      width: 25%;

      &::after {
        content: ':';
      }
    }

    a {
      padding: 0;
      float: left;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 60%;
      white-space: nowrap;
    }

    button, .quantity {
      float: right;
    }

    .pending, .purchased {
      float: right;
      font-size: 12px;
    }
  }
}


.jumbotron {
  &.content {
    margin: 30px auto;
    .empty-list {
      text-align: center;
    }
  }
}

.key {
  list-style: none;

  .available {
    color: green;
  }

  .unavailable {
    color: red
  }
  .pending {
    color: #ffff00
  }
}

.clear {
  clear: both;
}

.printView {
  display: none;

  color: black;

  input[type='checkbox'] {
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    margin: 10px;
  }

  h4 {
    margin-bottom: 0;
    display: inline;
  }

  p {
    font-style: italic;
    margin-left: 40px;
  }
}

@media (max-width: 768px) {

  .item {
    .panel-body {
      a {
        width: 100%;
      }
    }
  }
  
}

@media print {
  .noPrint {
    display: none;
  }

  .printView {
    display: block;
  }
}